/*---AVALEHT---*/
@media only screen and (max-width: 950px) {
  .avaleht {
    font-size: 160px;
  }
  .navigatsioon {
    font-size: 25px;
  }
  .navigatsioon a:hover {
    font-size: 28px;
  }
}
@media only screen and (max-width: 580px) {
  .avaleht {
    font-size: 130px;
  }
  .navigatsioon {
    font-size: 25px;
  }
  .navigatsioon a:hover {
    font-size: 28px;
  }
}
/*---AVALEHT---*/

/*---NAVBAR---*/
@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    opacity: 0;
  }
  .hamburger-icon {
    display: block;
    margin-right: 30px;
    margin-top: 10px;
  }
  #navcontent {
    display: none;
  }

  .hamburger:checked ~ #navcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .navbar {
    height: max-content;
  }
  .line {
    transition: all 0.2s;
  }

  .hamburger:checked ~ .hamburger-icon .line {
    transition: all 0.2s;
  }

  .hamburger:checked ~ .hamburger-icon .upper-line {
    transform: rotate(45deg) translate(7px, 6px);
  }
  .hamburger:checked ~ .hamburger-icon .middle-line {
    opacity: 0;
  }
  .hamburger:checked ~ .hamburger-icon .lower-line {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
/*---NAVBAR---*/

/*---FIRMAST---*/
@media only screen and (max-width: 1310px) {
  .tutvustuspilt {
    width: 50%;
  }
  .tutvustus {
    font-size: 100%;
    line-height: 20px;
  }
}
@media only screen and (max-width: 1120px) {
  .tutvustuspilt {
    width: 100%;
    height: 300px;
    max-width: initial;
    object-fit: cover;
  }
  .konteiner {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
  }
  .tutvustus {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
  }
}
/*---FIRMAST---*/

/*---UUDISED---*/
@media only screen and (max-width: 970px) {
  #UP {
    font-size: 20px;
  }
  #UP:hover {
    font-size: 22px;
  }
  .ujuv p {
    margin-top: 182.5px;
    padding-top: 10px;
  }
}
/*---UUDISED---*/

/*---TOOTED---*/
@media only screen and (max-width: 1310px) {
  .otsinupp {
    margin-left: 10%;
    width: 6% !important;
  }
  .otsinupp:hover {
    width: 7% !important;
  }
  .grid-container {
    grid-template-columns: auto auto;
  }
  .toode3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .toode4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .toode5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .toode6 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}
@media only screen and (max-width: 930px) {
  .otsinupp {
    margin-left: 10%;
    width: 12% !important;
  }
  .otsinupp:hover {
    width: 14% !important;
  }
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .toode2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .toode3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .toode4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .toode5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .toode6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
  }
}
/*---TOOTED---*/

/*---KONTAKT---*/
@media only screen and (max-width: 1000px) {
  .contact-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-info__left table tr td:first-child {
    padding-right: 0px;
  }
  .contact-info__left,
  .contact-info__right {
    width: 80%;
  }
  iframe {
    margin-top: 20px;
    height: 350px;
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .contact-info__left,
  .contact-info__right {
    width: 70%;
  }
  .contact-info__left {
    margin-right: 20px;
  }
  .contact-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-info__left table tr td:first-child {
    padding-right: 0px;
  }
  iframe {
    margin-top: 20px;
    height: 250px;
    width: 100%;
  }
  .submit {
    width: 30% !important;
  }
  .submit:hover {
    width: 35% !important;
  }
}
/*---KONTAKT---*/

/*---OSTUKORV---*/
@media only screen and (max-width: 1300px) {
  .ostukorv-sisu {
    width: 85%;
  }
  .vormista-nupp {
    width: 20%;
  }
  .vormista-nupp:hover {
    width: 22%;
  }
}
@media only screen and (max-width: 850px) {
  .ostukorv-sisu {
    width: 100%;
  }
  .align {
  }
  .ostukorv-pilt {
    height: 120px;
  }
  .vormista-nupp {
    width: 30%;
  }
  .vormista-nupp:hover {
    width: 32%;
  }
}
/*---OSTUKORV---*/

/*---ÜKSIKUVAADE---*/
@media only screen and (max-width: 970px) {
  .tootepilt-üksik {
    height: 400px;
  }
}
@media only screen and (max-width: 610px) {
  .tootepilt-üksik {
    height: 350px;
  }
}
/*---ÜKSIKUVAADE---*/
