* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: rgb(231, 231, 231);
  height: 100%;
}

/*---FOOTER---*/
.paigal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 0;
}
.paigal p {
  margin-top: 10px;
}
.ujuv {
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 0;
}
.ujuv p {
  padding-top: 10px;
}
/*---FOOTER---*/

/*---AVALEHT---*/
.container {
  background-image: linear-gradient(
      to bottom,
      rgba(77, 77, 77, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("avaleht.jpg");
  background-size: cover;
  width: 100%;
  height: 920px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.avaleht {
  margin: 150px auto auto auto;
  font-size: 220px;
  font-weight: 100;
  text-align: center;
  font-family: "Rye", cursive;
  color: rgb(197, 89, 0);
}
.navigatsioon {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 30px;
}
.navigatsioon a {
  text-decoration: none;
  color: rgb(230, 230, 230);
  margin: 20px;
  transition: 0.3s;
}
.navigatsioon a:hover {
  font-size: 60px;
  color: rgb(197, 89, 0);
  transition: 0.3s;
}
/*---AVALEHT---*/

/*---NAVBAR---*/
.navbar {
  display: inline-flex;
  justify-content: flex-end;
  list-style-type: none;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  background-color: rgb(31, 30, 30);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.logo {
  margin: 5px auto 5px 20px;
}
.navbar li {
  margin: 20px 50px 15px 30px;
}
.navbar li a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(197, 89, 0);
  transition: 0.3s;
}
.navbar li a:hover {
  color: white;
  font-size: 25px;
  transition: 0.3s;
}
.navbar li a:active {
  color: white;
  font-size: 25px;
}
.ostukorv {
  border-radius: 10px;
  background-color: rgb(77, 77, 77);
  margin: 7px 30px 5px 0px;
}
/*---NAVBAR---*/

/*---FIRMAST---*/
h2 {
  font-size: 50px;
  color: rgb(37, 37, 37);
  text-align: center;
  margin: 40px auto 40px auto;
}
.tutvustuspilt {
  max-width: 30%;
}
.tutvustus {
  margin-left: 30px;
  font-size: 22px;
  line-height: 30px;
}
.konteiner {
  display: flex;
  margin: 70px auto 40px auto;
  width: 70%;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
/*---FIRMAST---*/

/*---UUDISED---*/
.info {
  margin-bottom: 70px;
  display: inline-flex;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.uudis {
  max-width: 40%;
}
.konteineruudis {
  display: flex;
  flex-wrap: wrap;
  margin: 70px auto 40px auto;
  width: 70%;
}
#UP {
  text-decoration: none;
  color: crimson;
  font-size: 30px;
  transition: 0.3s;
}
#UP:hover {
  font-size: 40px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
/*---UUDISED---*/

/*---TOOTED---*/
.search {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin: 70px auto 40px auto;
}
.otsi {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  width: 30%;
  height: 50px;
}
.dropbtn {
  width: 150% !important;
  height: 50px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 5%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  margin-left: 5%;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.otsinupp {
  margin-left: 5%;
  width: 4% !important;
  height: 50px;
  color: white;
  font-size: 18px;
  background-color: rgb(197, 89, 0) !important;
  border-radius: 10px;
  transition: 0.3s;

  box-shadow: 5px 2.8px 2.2px rgba(0, 0, 0, 0.103),
    0 6.7px 5.3px rgba(0, 0, 0, 0.377), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.otsinupp:hover {
  cursor: pointer;
  width: 5% !important;
  background-color: rgb(0, 192, 48) !important;
  transition: 0.3s;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  margin: 70px auto 40px auto;
  width: 70%;
}
.tootepilt {
  height: 300px;
  transition: 0.3s;
}
.crop {
  text-indent: -92px;
  overflow: hidden;
}
.tootepilt:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.tootekirjeldus {
  margin-top: 10px;
  font-size: 20px;
}
.hind {
  background-color: rgb(197, 89, 0);
  display: flex;
  justify-content: center;
  margin: 30px auto 0 auto;
  width: 30%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 2.8px 2.2px rgba(0, 0, 0, 0.103),
    0 6.7px 5.3px rgba(0, 0, 0, 0.377), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
  cursor: pointer;
}
.hind a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
.hind:hover {
  width: 40%;
  border-radius: 15px;
  background-color: rgb(0, 192, 48);
  transition: 0.3s;
}
.toode1 {
  justify-content: center;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-row-gap: 50px;
  height: 450px;
  width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  background-color: white;
}
.toode2 {
  justify-content: center;
  overflow: hidden;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-row-gap: 50px;
  height: 450px;
  width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  background-color: white;
}
.toode3 {
  justify-content: center;
  overflow: hidden;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-row-gap: 50px;
  height: 450px;
  width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  background-color: white;
}
.toode4 {
  justify-content: center;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-row-gap: 50px;
  height: 450px;
  width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  background-color: white;
}
.toode5 {
  justify-content: center;
  overflow: hidden;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-row-gap: 50px;
  height: 450px;
  width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  background-color: white;
}
.toode6 {
  justify-content: center;
  overflow: hidden;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-row-gap: 50px;
  height: 450px;
  width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  background-color: white;
}

/*---KONTAKT---*/
.contact-info {
  display: flex;
}
.contact-info__left,
.contact-info__right {
  width: 50%;
}
table {
  margin: 0 auto;
  line-height: 150%;
}
.contact-info__left table tr td:first-child {
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}

iframe {
  height: 450px;
  width: 100%;
}
.kontakt {
  margin: 70px auto 40px auto;
  width: 70%;
}
.form {
  margin: 70px auto 40px auto;
  width: 50%;
}
.form input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  width: 50%;
  height: 40px;
}
.päring {
  background-color: transparent;
}
.submit {
  width: 20% !important;
  border-bottom: none;
  color: white;
  font-size: 18px;
  background-color: rgb(197, 89, 0) !important;
  border-radius: 10px;
  transition: 0.3s;

  box-shadow: 5px 2.8px 2.2px rgba(0, 0, 0, 0.103),
    0 6.7px 5.3px rgba(0, 0, 0, 0.377), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.submit:hover {
  width: 25% !important;
  background-color: rgb(0, 192, 48) !important;
  transition: 0.3s;
  cursor: pointer;
}
/*---KONTAKT---*/
